<!-- Kno Kno Home -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="" alt="">
                        <div class="intro-text">
                            <!--<span class="name" >This is the KnoKno Tagline</span>-->
                            <h2>{{ tagline }}</h2>
                            <hr class="style-seven">
                                <div style="position: relative;top: -40px" class="col-lg-8 col-lg-offset-2 text-center">
                                    <a href="#" class="btn btn-lg btn-outline">
                                        <i class="fa fa-play">{{ play }}</i>
                                    </a>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Description Section -->
        <section class="success" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Learning Should be Easy </h2>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <p>Kno Kno empowers you to explore and share new interests anytime and anywhere of your choice. We match learners with teachers to help you focus more of your time on the experiences you make.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Learn anything from photographing the New York City Skyline to scuba diving in Thailand with kno kno.</p>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                       
                    </div>
                </div>
            </div>
        </section>